{{define "side_nav"}}
<aside class="side-rail" aria-label="站点导航">
  <a class="side-avatar-link" href="/" aria-label="回到首页">
    <div class="side-avatar-wrap" data-site-avatar>
      {{if .Config.Profile.Author.Avatar}}
      <img class="side-avatar" src="{{.Config.Profile.Author.Avatar}}" alt="">
      {{end}}
    </div>
  </a>

  <nav class="side-nav" aria-label="主导航" data-transition-region="side-nav">
    <a class="nav-link" href="{{if eq .Lang "en_US"}}/en_US{{end}}/">
      <span class="nav-icon material-symbol" aria-hidden="true">home</span>
      <span class="nav-label">{{T .Lang "nav.home"}}</span>
    </a>
    <a class="nav-link" href="{{if eq .Lang "en_US"}}/en_US{{end}}/notes/">
      <span class="nav-icon material-symbol" aria-hidden="true">article</span>
      <span class="nav-label">{{T .Lang "nav.notes"}}</span>
    </a>
    <a class="nav-link" href="{{if eq .Lang "en_US"}}/en_US{{end}}/archive/">
      <span class="nav-icon material-symbol" aria-hidden="true">archive</span>
      <span class="nav-label">{{T .Lang "nav.archive"}}</span>
    </a>
    <a class="nav-link" href="{{if eq .Lang "en_US"}}/en_US{{end}}/graph/">
      <span class="nav-icon material-symbol" aria-hidden="true">account_tree</span>
      <span class="nav-label">{{T .Lang "nav.graph"}}</span>
    </a>
    <a class="nav-link" href="{{if eq .Lang "en_US"}}/en_US{{end}}/about/">
      <span class="nav-icon material-symbol" aria-hidden="true">info</span>
      <span class="nav-label">{{T .Lang "nav.about"}}</span>
    </a>
  </nav>


</aside>
{{end}}
